@import url(base/vars.css);
@import url(base/base.css);
@import url(cmps/user-msg.css);
@import url(cmps/locs.css);
@import url(cmps/selected-loc.css);

@media (min-width: 750px) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }
  .locs-container {
    width: 30vw;
  }
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
